*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    width: 100vw;
    height: 100vh;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:  hsl(185, 41%, 84%);

    font-family: 'Space Mono', monospace;
}

header img{
    margin: 20px;
    width: 30vw;
}

main{
    border-radius: 20px 20px 0px 0px;
    padding: 30px;

    background-color: white;
    color:  hsl(183, 100%, 15%);
}

section.data-collect label{
    font-weight: 900;
    font-size: 1.2em;

    display: block;
    margin-bottom: 5px;
}

section.data-collect span.people,
section.data-collect span.cifron{
    
    display: block;
    text-align: left;
    position: absolute;

    margin-left: 20px;
    padding: 10px 3px 10px 10px;
    margin-top: -85px;
    float: left;
}

section.data-collect input.box{

    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
    

    font-size: 3em;
    font-weight: 900;

    background-color:hsl(189, 41%, 97%);
    color:  hsl(183, 100%, 15%);

    text-align: right;
}

ul{
    list-style: none;
    margin-bottom: 50px;
}

section.data-collect li{
    display: inline;
}

section.data-collect button{
    width: 155px;
    height: 60px;

    display: inline;
    margin:10px 5px auto;
    border-radius: 10px;

    background-color:  hsl(183, 100%, 15%);
    color:  hsl(0, 0%, 100%);

    font-size: 1.4em;
    font-weight: 900;

    cursor: pointer;
}

section.data-collect input.on,
section.data-collect button.on,
section.data-collect button.on{
    background-color: hsl(172, 67%, 45%);
    color:  hsl(183, 100%, 15%);
    text-shadow: 1px 1px 0px rgb(167, 161, 161);
}

section.data-collect button.custom{
    background-color:  hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);

    border: none;
}

section.data-collect input.custom-off,
section.data-collect button.custom-off{
    display: none;
}

section.data-collect input.custom-on{
    width: 155px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    float: right;
    margin: -60px 50px auto;

    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.699);
    border: 1px solid black;

    font-size: 1.8em;
    font-weight: 900;

    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

section.data-collect input.off{
    color: hsl(189, 41%, 97%);
    background-color:  hsl(183, 100%, 15%);
}


section.data-collect span.people{
    background: url('../images/icon-person.svg') no-repeat;
}

section.data-collect span.cifron{
    background: url('../images/icon-dollar.svg') no-repeat;
}

section.result{
    background-color:  hsl(183, 100%, 15%);

    border-radius: 15px;
    padding: 15px;
}

section.result li{
    margin-top: 20px;
}

section.result li h2{
    color: hsl(0, 0%, 100%);
    font-size: 1.1em;
}

section.result li span{
    color: hsl(185, 41%, 84%);
}

section.result div img{
    height: 25px;
    margin: 0px -20px -2px 0px;
    color:  hsl(172, 67%, 45%);
}

section.result div span{
    color:  hsl(172, 67%, 45%);
}

section.result li div{
    display: block;
    text-align: right;
    margin-top: -50px;

    font-size: 2.6em;
    font-weight: 900;

    color: hsl(172, 67%, 45%);
    
}

section.result button{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-top: -30px;

    font-size: 1.7em;
    text-transform: uppercase;

    color:  hsl(183, 100%, 15%);
    
}

button.off-reset{
    background-color:  hsl(186, 14%, 43%);
    border: none;
}

button.on-reset{
    cursor: pointer;
    background-color:  hsl(172, 67%, 45%);
}

section.creditos{
    background-color: white;
    color: black;

    font-weight: 700;
    font-size: 1.2em;

    margin-top: 10px;
    text-align: center;
}

section.creditos a{
    text-decoration:none ;

    cursor: pointer;
}

section.creditos a:hover{
    color:hsl(172, 67%, 45%);
}