*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /*border: 1px solid red;*/
}

input{
    box-shadow: none;
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/*
font-family: 'Space Mono', monospace;
*/

:root {
 --color-hovercyan:hsl(172, 67%, 45%);

 --color-Verydark: hsl(183, 100%, 15%);
 --color-Darkgrayish: hsl(186, 14%, 43%);
 --color-Grayish: hsl(184, 14%, 56%);
 --color-Lightgrayish: hsl(185, 41%, 84%);
 --color-Verylightgrayish: hsl(189, 41%, 97%);
 --color--White: hsl(0, 0%, 100%);
}

html,
body {
    background-color: var(--color-Lightgrayish);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: bold;
}

header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--color--White);
    border-radius: 20px 20px 0 0 ;
    padding: 30px 10px;
    padding-bottom: 10px;
}

.data-collect{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35px;
}

.data-collect label {
    font-size: 18px;
    color: var(--color-Darkgrayish);
}

.data-collect input {
    font-weight: bold;
    color: var(--color-Verydark);
    padding: 0 50px;
    font-size: 1.6em;
    height: 60px;
    border: none;
    background-color: var(--color-Verylightgrayish);
    border-radius: 8px;
}

.data-collect img {
    width: 15px;
    margin-top: -42px;
    margin-left: 15px;
}

.data-collect .sel_Tip {
    font-size: 20px;
    color: var(--color-Darkgrayish);
    margin-top: 30px;
}

.data-collect ul {
    display: grid;
    margin-left: -10px;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
}

.data-collect input#custom,
.data-collect button{
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.393);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
    color: var(--color--White);
    background-color: var(--color-Verydark);
    width: 95%;
    height: 80px;
    font-size: 34px;
    margin: 10px;
}

.data-collect span.porcent {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 70px;
    right: 15px;
    float: right;
    font-weight: bolder;
    font-size: 1.6em;
    margin-bottom: -58px;
    padding: 0;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.data-collect input#custom {
    text-align: right;
    background-color: var(--color-hovercyan);
}

.data-collect button:hover {
    transform: scale(1.01);
    transition: .5s;
    background-color: hsl(172, 52%, 36%);
}

.data-collect button#custom {
    font-weight: bold;
    box-shadow: none;
    background-color: var(--color-Verylightgrayish);
    color: var(--color-Grayish);
}

.data-collect button#custom:hover {
    background-color: var(--color-Verylightgrayish);
}

.data-collect .active {
    background-color: var(--color-hovercyan);
}

.data-collect .msg {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 20px 35px;
    z-index: 1;
    width: 375px;
    height: auto;
    border: 1px solid var(--color--White);
    border-radius: 10px;
    color: var(--color-hovercyan);
    box-shadow: 0 0 10px 5px var(--color-Darkgrayish);
    background-color: var(--color-Verydark);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: .8em;
}

.result {
    margin-top: 20px;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: var(--color-Verydark);
    color: var(--color--White);
}

.result ul { 
    display: flex;
    flex-direction: column;
}

.result .total,
.result .amount {
    width: 100%;
    display: grid;
    grid-template-rows: 20px 70px;
    grid-template-columns: auto min-content min-content;
}

.result .total h3,
.result .amount h3{ 
    font-size: 16px;  
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;

}

.result .total span,
.result .amount span {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    font-size: 15px;
    color: var(--color-Darkgrayish);
}

.result .total img,
.result .amount img {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    width: 30px;
    margin-top: 15px;
    padding-right: 5px;
}

.result .total div,
.result .amount div {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: 2em;
    text-align: right;
    color: var(--color-hovercyan);
}

.result button {
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.667);
    margin-top: 20px;
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--color-hovercyan);
    color: var(--color-Verydark);
    border-radius: 10px;
}

footer{
    background-color: var(--color--White);
}

footer div {
    font-size: .6em;
    text-align: center;
    color: var(--color-Darkgrayish);
}

footer a {
    text-decoration: none;
    color: var(--color-Lightgrayish);
}

footer a:hover {
    color: var(--color-hovercyan);
}